body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn2.tfx.company/images/clickwallpapers-time-brasileiro-fluminense-futebol_img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    background-color: #71112d;
    color: #fff;
    padding: 20px;
    text-align: center;
    opacity: 0.6;
}

#team-section {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 20px;
    gap: 10px;
    white-space: nowrap; 
}

.player-card {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 0 0 300px; 
    margin-right: 10px; 
    display: inline-block;
    vertical-align: top; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative; 
}

.player-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.player-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.player-card button {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #71112d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.player-card p {
    margin-top: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#selected-players {
    margin-top: 30px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%; 
    margin-left: auto;
    margin-right: auto;
}

#selected-players h2 {
    margin-bottom: 10px;
    color: #71112D;
}

#selected-players ul {
    list-style: none;
    padding: 0;
    text-align: left; 
}

#selected-players li {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 5px;
}
